<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoBasesDatos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoBasesDatos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    @{
        var userRole = ViewContext.HttpContext.Session.GetString("Role");

        if (userRole == "superadmin")
        {
            @await Html.PartialAsync("_SuperAdminNavBar")
        } else if (userRole == "admin") {
            @await Html.PartialAsync("_AdminNavBar")
        } else if (userRole == "doctor") {
            @await Html.PartialAsync("_DoctorNavBar")
        } else if (userRole == "patient") {
            @await Html.PartialAsync("_PatientNavBar")
        }
        else
        {
			@await Html.PartialAsync("_DefaultNavBar")
        }
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
