@model ProyectoBasesDatos.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Día
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ADay)
        </dd>
        <dt class = "col-sm-2">
           Hora
        </dt>
        <dd class = "col-sm-10">
            @Model.AHour.ToString("HH:mm")
        </dd>

        <dt class = "col-sm-2">
            Paciente
        </dt>
        <dd class = "col-sm-10">
            @($"{Model.Patient.UName} {Model.Patient.Firstlastname} {Model.Patient.Secondlastname}")
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="DoctorHome">Back to List</a>
</div>
